nav {
    background-color: #0a1128;
    padding: 20px;
}

nav ul {
    display: flex;
    justify-content: space-evenly;
}

nav li {
    list-style: none;
}

nav a {
    font-family: 'Open Sans', sans-serif;
    color: #f1faee;
    text-decoration: none;
    transition: all 0.3s ease-in-out;
}

nav a:hover {
    color: #457b9d;
}

@media all and (max-width: 768px) {
    nav ul {
        flex-direction: column;
        align-items: flex-start;
    }
    nav ul a {
        padding: 10px;
    }
}